<footer class="footer">
    <small>
        The <a href="http://www.railstutorial.org">Ruby Turorial</a>
        Completed by<a href="http://www.bradzellman.com"> Brad Zellman</a>
    </small>
    <nav>
        <ul>
            <li><%= link_to "About", about_path %></li>
            <!--<li><%= link_to "Contact", contact_path %></li>-->
        </ul>
    </nav>
</footer>